body {
   margin: 0;
}

$box-shadow-default: 0px 3px 3px gray;
$box-shadow-reverse: 0px -3px 3px gray; 

%border-default {
   border: 1px gray solid;
   border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

.container {
   margin: 0 auto;
   max-width: 800px;
}

header {
   width: 100%;
   height: 60px;
   background-color: whitesmoke;
   box-shadow: $box-shadow-default;

   .main-title {
      padding: 10px;
      text-align: center;
   }
}

footer {
   width: 100%;
   height:60px;
   background-color: whitesmoke;
   box-shadow: $box-shadow-reverse;
}

.main {
   width: 100%;
   height: 100%;

   .main-inner {
      margin: 104px auto;
      width: 600px;
      height: 600px;
      background-color: whitesmoke;
      box-shadow: $box-shadow-default;
      @extend %border-default;

      .window {
         margin: 10px 10px;
         height: 70%;
         background-color: white;
         box-shadow: $box-shadow-default;
         @extend %border-default;

         .hp-bar {
            margin: 10px 90px;
            display: flex;
            justify-content: center;
            align-items: center;

            .hp-icon {
               color: red;
               align-items: center;
               margin-top: 2px;
               margin-right: 10px;
            }

            .hp-stat {
               width: 75%;
               height: 20px;
               background-color: red;
               border: 1px grey solid;
               border-radius: 10px;
               overflow: hidden;
            }

            .killed-bar {
               display: flex;
               width: 10%;
               margin-left: 10px;
            }
         }

         .hp-number {
            text-align: center;
         }

         .monster-boss {
            display: none;
            text-align: center;
            color: red;
         }
      }

      .btns-bar {
         margin: 10px 10px;
         height: 24%;
         background-color: white;
         box-shadow: $box-shadow-default;
         @extend %border-default;

         .btn-attack {
            margin: 10px 200px;
            width: 30%;
            height: 20%;
            cursor: pointer;
            background-color: red;
            box-shadow: $box-shadow-default;
            @extend %border-default;

            &:active {
               box-shadow: 0px 1px 1px gray;
            }
         }
      }
   }
}

